body{
    background-color: black;
}
h1{
    text-align: center;
    font-size: 5rem;
    color: white;
}
.Family
{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    color: maroon;
    text-align: center;
    font-family: "Jacquard 24", system-ui;
}
.TaytonsParents
{
    width: 50%;
    border: 10px solid maroon;
}